/* main.css */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(255, 255, 255);
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0 0 1.5rem 0;
    background: rgba(224, 227, 255, 0.77);
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.7rem;
    margin-right: 1rem;
    color: Black;
    text-decoration: none;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-menu li a,
.menu-items li a {
    font-size: 1.2rem;
    color: hsl(0, 0%, 50%);
    transition: color 0.3s;
    text-decoration: none;
}
.dropdown-menu li a:hover,
.menu-items li a:hover {
    color:Black;
}

.cta-btns{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
    justify-content: flex-end;
}

.cta-btns img {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s;
}

.cta-btns img:hover {
    transform: scale(1.2);
}

li {
    list-style: none;
}

.menu-items li,
.cta-btns li {
    font-size: 1.2rem;
    margin-right: 2rem;
    color: hsl(0, 0%, 50%);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background:  rgba(224, 227, 255, 0.77);
    border-radius: 5px;
    min-width: 100px;
    left: -20px; 
    padding: 5px 0;
}

.dropdown-menu li {
    padding: 0.5rem 1rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.About_Me_title{
    font-size: 2.5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;

}

.About_Me_title_text{
    font-size: 1.5rem;
    margin: 1rem 0;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin: 0 10rem 0 20rem;
    
}

.Selfpic{
    display: flex;
    width: 30rem;
    height: 30rem;
    justify-content: center;
}

.content-section_e,
.content-section {
    max-width: 100rem;
    margin: 3rem auto;
    padding: 2rem;
    background: rgba(224, 227, 255, 0.77);

}

.content-section_h,
.content-section_s {
    max-width: 100rem;
    margin: 3rem auto;
    padding: 2rem;
    background: rgb(255, 255, 255);
}

.content-section_h h2,
.content-section_e h2,
.content-section_s h2,
.content-section h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.content-section_h h3 {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    margin-left: 10rem;
}

.content-section_h p {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    margin-left: 10rem;
}

.content-section_s ul,
.content-section ul,
.content-section_e ul {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.content-section_s p{
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 15rem;
    margin-right: 10rem;
}

.text_link,
.resume_link {
    display: flex;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    transition: color 0.3s;
    text-decoration: none;
    transition: transform 0.3s;
}
.resume_link{
    justify-content: center;
}
.text_link{
    justify-content: flex-start;
    padding-right: 1.5rem;
    margin-left: 15rem;
    margin-right: 10rem;
}

.text_link:hover,
.resume_link:hover {
    color:Black;
    transform: scale(1.2);
}

.music-player {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
}
.hobby-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
    max-width: 80rem;
}

.hobby-video iframe {
    width: 100%;
    max-width: 720px;
    height: 405px;
}
#toggle-btn,
#backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: Black;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#toggle-btn{
    bottom: 5rem;
    right: 2rem;
}

#backToTop:hover,
#toggle-btn:hover {
    background: rgba(0, 227, 255, 0.77);
}
