/* main.css */

/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

figure{

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(255, 255, 255);
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0 0 1.5rem 0;
    background: rgba(224, 227, 255, 0.77);
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    margin-right: 1rem;
    color: Black;
    text-decoration: none;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-items li a {
    font-size: 1.2rem;
    color: hsl(0, 0%, 50%);
    transition: color 0.3s;
    text-decoration: none;
}
.menu-items li a:hover {
    color:Black;
}

.cta-btns{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
    justify-content: flex-end;
}

.cta-btns img {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s;
}

.cta-btns img:hover {
    transform: scale(1.2);
}

li {
    list-style: none;
}

.menu-items li,
.cta-btns li {
    font-size: 1.2rem;
    margin-right: 2rem;
    color: hsl(0, 0%, 50%);
}

.About_Me_title{
    font-size: 3rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;

}
.About_Me_title_text{
    font-size: 1.5rem;
    margin: 1rem 0;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin: 0 10rem 0 20rem;
    
}

.Selfpic{
    display: flex;
    width: 30rem;
    height: 30rem;
    justify-content: center;
}

.content-section_e,
.content-section {
    max-width: 100rem;
    margin: 3rem auto;
    padding: 2rem;
    background: rgba(224, 227, 255, 0.77);

}

.content-section_s {
    max-width: 100rem;
    margin: 3rem auto;
    padding: 2rem;
    background: rgb(255, 255, 255);
}

.content-section_e h2,
.content-section_s h2,
.content-section h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.content-section_s ul,
.content-section ul {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

.content-section_e ul {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    margin-left: 10rem;
}

.content-section_s a {
    display: flex;
    justify-content: center;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    transition: color 0.3s;
    text-decoration: none;
    transition: transform 0.3s;
}

.content-section_s a:hover {
    color:Black;
    transform: scale(1.2);
}